.popup {
    position: fixed;
    width: 60vw;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    background: #c7afaf;
    box-shadow: var(--shadow-left);
    border-radius: 8px 0px 0px 8px;
    padding: 9rem 4rem;
    color: black;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;

    .wrapper {}

    &.show {
        transform: translateX(0);
    }

    .place {
        font-style: italic;
        font-style: 1.5rem;
        line-height: 2em;
    }

    .prisoner {
        font-size: 4rem;
        font-weight: bold;
    }

    .info {
        font-size: 1.3rem;
        line-height: 2em;
    }

    .story {
        margin-top: 2rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 1rem 0;
        }
    }
}